body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(183, 202, 202);
}

.contact-card {
  list-style: none;
  background-color: #ffffff61;
  margin: 20px auto;
  padding: 5px;
  max-width: 350px;
  text-align: center;
  border-radius: 5px;
}

.contact-card dt {
  font-weight: bold;
  padding: 3px;
}