.header {
  padding-top: 30px;
  text-align: center;
}

.book {
  list-style: none;
  background-color: #ffffff61;
  margin: 10px auto;
  padding: 20px;

  border-radius: 5px;
  width: 200px;
  text-align: center;
}